.Card {
  background-color: white;
  border: 1px solid grey;
  display: block;
  width: 100%;
  min-height: 50px;
  margin: 10px;
  padding: 20px;
}

.Card:first-of-type {
  margin-left: 0px;
  width: auto;
}

.Card:first-child {
  width: 100%;
}

.title {
  margin-bottom: 10px;
}