.fa {
  color: grey;
}

input {
  border-width: 0;
  font: inherit;
  padding-left: 35px;
}

input:focus {
  outline: none;
}

.Searchbar {
  align-items: center;
  border: 1px solid grey;
  display: flex;
  padding: 3px 12px;
  border-radius: 5px;
  background-color: white;
}

.Searchbar_input {
  padding: 8px;
  width: 100%;
}

.Searchbar__hasDropdown {
  border-radius: 5px 5px 0px 0px;
}