body {
  background-color: #e8eff0;
}

button {
  height: 25px;
  margin-left: 5px;
}

.App {
  margin: 5% 20%;
  min-width: 400px;
}

.App_nominations {
  position: relative;
  margin-top: 10px;
}

.App_column {
  display: block;
}

.App_row {
  display: flex;
  margin-bottom: 10px;
}